<main>
    <div>
        
    </div>

    <a class="google-btn" href="http://localhost:3000/auth/google">
        <i class="fab fa-google-plus-g">
            <span>Log in with Google</span>
        </i>
    </a>
    <a class="facebook-btn" href="http://localhost:3000/auth/facebook">
        <i class="fab fa-facebook-f">
            <span>Log in with Facebook</span>
        </i>
    </a>
    <a class="twitter-btn" href="http://localhost:3000/auth/twitter">
        <i class="fab fa-twitter">
            <span>Log in with Twitter</span>
        </i>
    </a>
    <a class="linkedin-btn" href="http://localhost:3000/auth/linkedin">
        <i class="fab fa-linkedin">
            <span>Log in with linkedin</span>
        </i>
    </a>
    <a class="line-btn" href="http://localhost:3000/auth/line">
        <i class="fab fa-line">
            <span>Log in with LINE</span>
        </i>
    </a>
    <a class="local-btn" href="http://localhost:3000/local/login">
        <i class="fas fa-at">
            <span>Email Address</span>
        </i>
    </a>

</main>