<main>

    <a class="google-btn" href="http://localhost:3000/auth/google"><i class="fab fa-google-plus-g"><span>Google+</span></i></a>
    <a class="facebook-btn" href="http://localhost:3000/auth/facebook"><i class="fab fa-facebook-f"><span>Facebook</span></i></a>
    <a class="twitter-btn" href="http://localhost:3000/auth/twitter"><i class="fab fa-twitter"><span>Twitter</span></i></a>
    <a class="local-btn" href="http://localhost:3000/local/login"><i class="fas fa-at"><span>Account/Password</span></i></a>

</main>