<div class="showcase">
    <div id="slider">
        <figure id="images" >
            <!-- 
               <img src="assets/img/desk.png" alt="">
                <img src="assets/img/desk2.png" alt="">
                <img src="assets/img/desk.png" alt="">
                <img src="assets/img/desk3.png" alt=""> 
                <img src="assets/img/desk.png" alt=""> 
            -->
            <img *ngFor="let showcase of showcases" src="{{baseUrl}}{{showcase.Content[0].url}}" alt="">
            
        </figure>
    </div>
</div>


<div class="title">
    {{ selectedInsurer }} {{ selectedProductLine }}
    </div>

<div class="container">
    
    <app-product *ngFor="let product of products" [product]="product">
    </app-product>

</div>