/* Used to hold state object */
pre {
    display: none;
}






.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;

    text-align: center;

    font-size: var(--title-font-size);

    border: var(--dev-border);

    position: fixed;

    width: 100%;
    height: 60px;

    background-color: #00A3E7;;

    color: #fff;
    

    z-index: 1;
}

.title .back {
    text-align: left;
    width: 40px;
    border: var(--dev-border);
    padding-left: 10px;
    color: #fff;
}

.title .forward {
    text-align: right;
    padding-right: 10px;
    width: 40px;
    border: var(--dev-border);
    color: #fff;

    visibility: hidden;

    
}


.title div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.companyLogo {
    height: 35px;
    
    border-radius: 4px;
}

.title div {
    color: #fff;
}

.insuredObject {
    border: var(--dev-border);
    width: 100%;
    background-color: #aaa;
    color: #fff;

    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: left;


    border-bottom: 1px #fff solid;
    /*border-top: 1px #fff solid;*/

    padding-left: 20px;
    padding-right: 20px;

}

.insuredData {
    border: var(--dev-border);
    width: 100%;
    background-color: #aaa;
    color: #fff;

    text-align: left;


    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;

}

.age {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

#age {
    border: none;
    border-radius: 2px;
}

.gender{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.gender-item{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}





.risks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;    
    border: var(--dev-border);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;    

    position: relative;  
    top: 60px;

     margin-bottom: 60px;  /*fix 60px gaps */


}

.productDetail{
    width: 100%;
    border: var(--dev-border);

}

.coverage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    font-size: 12px;
    border: var(--dev-border);
    width: 100%;

    /*padding-bottom: 10px;*/

    
}

.coverageName i {
    
}


.coverageHeader {
    text-align: left;
    border: var(--dev-border);
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: rgba(0, 163, 231,0.3);

    display: flex;
    align-items: center;
    justify-content: left;

    /*margin-bottom: 10px; */

    border-bottom: 1px #fff solid;


}

.coverageHeader .coverageName {
    padding-left: 10px;
    font-size: 14px;
    
    
}

.coverageDetail {
    width: 80%;
    border: var(--dev-border);
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;

    margin-top: 10px;
    margin-bottom: 10px;

    gap: 10px;

    
    
}

.limitOption {
    border: var(--dev-border);
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    
    background-color: rgba(0, 163, 231,0.1);

    font-size: 12px;

    border-radius: 5px;


}

.limitOption:hover {
    background-color: rgba(0, 163, 231,0.5);;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.limitOption .limit {
    padding-left: 5px;
    padding-top: 2px;  /*Alinged with the radio button*/

}


/*  Tool tip */
.notetip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
    align-items: center;

    border: var(--dev-border);
  }
  
  /* Tooltip text */
  .notetip .notetext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .notetip:hover .notetext {
    visibility: visible;
  }

  /* Arrow */
 
  .notetip-right {
    top: -5px;
    left: calc(100% + 10px);  
  }


  .notetip-right::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #555 transparent transparent;
  }



  .quoteHeder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A3E7;;
    margin-bottom: 20px;
    border: var(--dev-border);
    
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    color: #fff;

    top: calc(100vh - 60px );


}


.premium {
    display: flex;
    align-items: center;
    justify-content: center;
}

.premium div {
    padding-right: 10px;
    font-size: 16px;
}

#premiumResult {
    font-size: 18px;
    font-weight: bold;
}

.premium a {
    font-size: 12px;

}

.premium i {
    padding-right: 10px;
}


@media(max-width:480px){

    .coverageDetail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        
    
    }
}